body {
  background-color: #e5e5e5;
}

.button-list {
  list-style: none;
}

.buttons .link {
  color: #4d5ae5;
  background-color: #e7e9fc;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.buttons .link:hover,
.buttons .link:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}
h1,
h2,
h3 {
  color: #2e2f42;
}
.examples .tittle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.examples-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.examples .cover {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
