:root{
    --headers-color: #2E2F42 ;
    --text-color: #434455;
    --primaty-bcg-color:#E5E5E5;
    --hover-link-color:#4D5AE5;
}

h1,h2,h3,h4,h5,h6{
    color: var(--headers-color) ;
}

body{
    color: var(--text-color);
}
.list{
    list-style: none;
}

.page{
    background-color: #FFFFFF;
}
/*Logo*/
.logo{
    color: var(--headers-color);
    text-decoration: none;
}
.first-logo{
    color:#4D5AE5;
}
/*Navigation*/
.nav-page {
    color: #2E2F42;
    text-decoration: none;
}

.nav-page .link:hover, 
.nav-page .link:focus{
    color: var(--hover-link-color);
}
.nav-page .link{
    text-decoration: none;
    color: #2E2F42;
}
.nav-page .link.current{
    color: var(--hover-link-color);
}
.adress-nav .link:hover,
.adress-nav .link:focus{
    color: var(--hover-link-color);
}
.adress-nav .link{
    color: #434455;
    text-decoration: none;
}
/*Footer*/
.end .logo{
    color:#F4F4FD;
}
.end{
    color: #F4F4FD;
    background-color:#2E2F42;
}
/*Footer*/